@import 'src/assets/scss/_variables';

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  margin-left: 5px;
  padding: 5px;
}

i {
  color: $color-white;
  display: block;
  margin: auto;
}

.btn-add-client {
  background-color: $color-primary;
  border-color: #fff
}

thead {
  font-size: 20px;
  background: $color-primary;
  color: $color-white;
}

tbody {
  font-size: 18px;
}
